/* @class="%ZEN.Component.titleBox" */
div.titleBoxTitle {
	font-size: 1.0em;
	font-weight: bold;
	text-align: left;
	padding: 2px;
	border-bottom: 1px solid black;
	white-space: nowrap;
}

div.titleBoxSubtitle {
	font-size: 0.8em;
	font-weight: normal;
	text-align: left;
	padding-top: 5px;
	text-indent: 10px;
}
/* EOF */