/* @class="%ZEN.Component.helpBox" */
div.helpBoxOn {
	border: 1px solid black;
	background: #AAAAFF;
}

div.helpBoxOff {
	display: none;
}

div.helpBoxTitle {
	font-weight: bold;
	color: darkblue;
}

div.helpBoxMsg {
	font-size: 0.8em;
	color: darkblue;
}
/* EOF */